.scroll-line {
  background: #AEC556;
  display: inline-block;
  height: 100%;
  width: 1px;
}

.scroll-placement {
  width: 30px;
  height: 10px;
  background: purple;
  z-index: 1000;
  position: absolute;
  // top: 0;
  bottom: 0;
}