.scroll-line {
  background: #AEC556;
  display: inline-block;
  height: 100%;
  width: 1px;
}

.scroll-placement {
  width: 30px;
  height: 10px;
  background: #D0E6C2;
  z-index: 1000;
  position: absolute;
  overflow: overlay;
  right: -12px;
  bottom: 0;
}