.scroll-line {
  background: #AEC556;
  display: inline-block;
  height: 100%;
  width: 1px;
}

.scroll-placement {
  width: 30px;
  height: 25px;
  background: #d6e9c9;
  z-index: 1000;
  position: absolute;
  overflow: overlay;
  right: -13px;
  bottom: 0;

  -webkit-clip-path: polygon(0 0, 100% 79%, 100% 100%, 0 23%);
  clip-path: polygon(0 0, 100% 79%, 100% 100%, 0 23%);
}