/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$appBackgroundColor: #4682B4;
$greenBackgroundColor:#354B39;
$lightGreen: #b7cc62;
$darkBlue: #0B152E;
$red: #DE302A;
$blueFont: #092335;

$small: 8px;
$smedium: 10px;
$medium: 12px;
$mediumLarge: 18px;
$large: 24px;

$largefont: 48px;

$normal: 300;
$semiBold: 550;
$bold: 700;
$veryBold: 900;

@font-face {
  font-family: 'sharpGroteskBook19';
  src: url('assets/fonts/SharpGroteskBook19.otf');
}

@font-face {
  font-family: 'sharpGroteskBook25';
  src: url('assets/fonts/SharpGroteskBook25.otf');
}

@font-face {
  font-family: 'SharpGroteskLight05';
  src: url('assets/fonts/SharpGroteskLight05.otf');
}

@font-face {
  font-family: 'sharpGroteskLight09';
  src: url('assets/fonts/SharpGroteskLight09.otf');
}

@font-face {
  font-family: 'sharpGroteskLight25';
  src: url('assets/fonts/SharpGroteskLight25.otf');
}

@font-face {
  font-family: 'sharpGroteskMedium25';
  src: url('assets/fonts/SharpGroteskMedium25.otf');
}

.reward-panel .mat-dialog-container {
    background-color: $lightGreen;
}