@import '~styles.scss';

.reward-panel {
    display: flex;
    flex-direction: column;
    width:100%;

    .reward-name {
        font-size: $largefont;
        font-weight: $normal;
        font-family: 'SharpGroteskLight09';
        color: $blueFont;
        align-content: center;

    }

    .reward-details {
        color: $blueFont;
        font-family: 'SharpGrotesk19';
        font-size: $small;
    }

    .close-x {
        font-weight: $bold;
        font-size: $medium;
        color: $blueFont;
        cursor: pointer;
        text-align: right;
    }

    .button-panel{
        display: flex;
        flex-direction: row;

        .select-reward {
            padding:20px;
        }

        .close-reward {
            padding:20px;
        }
    }
}