// 1024x768 is the most common screen resolution size recognized
$height: 768px;
$width: 1024px;
$appBackgroundColor: #0B1E2E;

.dashboard {
    height: $height;
    width: $width;
    display: flex;
    flex-direction: row;
    background-color: $appBackgroundColor;
    
    .left-dashboard {
        width: 35%;
        height: 100%;
    }
    
    .middle-dashboard {
        width: 40%;
        height: 100%;
    }

    .right-dashboard {
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 25%;

        .income-referral-container {
            height: 17.5%;
        }
    }
}