.machines-container{
    display: flex;
    flex-direction: column;
    padding-left: 47.5%;


    .machine {
        border-width: 2px;
        border-color: black;
        padding: .5em;
        font-size: .5em;
    }
}