@import '~styles.scss';

$rewardHeight: 80px;
$rewardWidth: 360px;


.reward-search {
    padding-bottom: 1em;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.carousel{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
    overflow-y: scroll;
    align-items: center;
    
    .carousel-item {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        margin-top: .25em;
        margin-bottom: .25em;        
        padding-bottom: .5em;

        .zero-magnitude {
            height: $rewardHeight;
            display: flex;
            flex-direction: row;
            opacity: 1;


            .carousel-item-right{
                width: $rewardWidth;

                 .reward-price {
                    padding-top: $rewardHeight*0.75;
                }
            }
            
            .carousel-item-left {
                border-width: 0 0 $rewardHeight $rewardHeight * 0.9;
                width: 35px;
            }
        }

        .one-magnitude {
            height: $rewardHeight * .95;
            display: flex;
            flex-direction: row;    
            opacity: 0.8;


            .carousel-item-right {
                width: $rewardWidth * .90;

                 .reward-price {
                    padding-top: ($rewardHeight*0.95)*0.75;
                }
            }

            .carousel-item-left {
                border-width: 0 0 $rewardHeight * 0.95 $rewardHeight * 0.85;
                width: 31px;
            }
        }

        .two-magnitudes {
            height: $rewardHeight * .90;
            display: flex;
            flex-direction: row;
            opacity: 0.6;


            .carousel-item-right {
                width: $rewardWidth * .80;

                 .reward-price {
                    padding-top: ($rewardHeight*0.90)*0.75;
                }
            }

            .carousel-item-left {
                border-width: 0 0 $rewardHeight*0.90 $rewardHeight * 0.75;
                width: 27px;
            }
        }

        .three-magnitudes {
            height: $rewardHeight * .85;
            display: flex;
            flex-direction: row;
            opacity: 0.4;


            .carousel-item-right {
                width: $rewardWidth * 0.70;

                .reward-price {
                    padding-top: ($rewardHeight*0.85)*0.75;
                }
            }

            .carousel-item-left {
                border-width: 0 0 $rewardHeight*0.85 $rewardHeight*0.65;
                width: 23px;
            }
        }
        
        .four-magnitudes {
            height: $rewardHeight * .80;
            display: flex;
            flex-direction: row;
            opacity: 0.2;


            .carousel-item-right {
                width: $rewardWidth * 0.60;

                .reward-price {
                    padding-top: ($rewardHeight*0.80)*0.75;
                }
            }

            .carousel-item-left {
                border-width: 0 0 $rewardHeight*0.80 $rewardHeight*0.55;
                width: 19px;
            }
        }

        .five-magnitudes {
            height: $rewardHeight * .75;
            display: flex;
            flex-direction: row;
            opacity: 0.2;


            .carousel-item-right {
                width: $rewardWidth * 0.50;
                
                .reward-price {
                    padding-top: ($rewardHeight*0.75)*0.75;
                }

            }

            .carousel-item-left {
                border-width: 0 0 $rewardHeight*0.75 $rewardHeight*0.45;
                width: 15px;
            }
        }

        .carousel-item-left {
            height: 0;
            border-style: solid;
            border-color: transparent transparent $greenBackgroundColor transparent;
            margin-right: .25em;

        }


        .selected-reward {
            border: 4px solid $lightGreen !important;
        }  

        .carousel-item-right {
            display: flex;
            border: 4px solid $greenBackgroundColor;

            flex-direction: row;
            background-color: $greenBackgroundColor;
            width: 100%;

          

            .reward-time-name {
                display: flex;
                flex-direction: column;
                width: 70%;
                
                .reward-name {
                    font-size: $largefont;
                    font-weight: $normal;
                    font-family: 'SharpGroteskLight09';
                    color: $lightGreen;
                }   
                .time-remaining {
                  font-family: 'sharpGroteskBook25';
                  font-size: 8px;
                  font-weight: $normal;
                  color: $lightGreen;
                }
            }

            .reward-price {
                display: flex;
                flex-direction: column;
                font-size: $small;
                font-weight: $normal;
                font-family: 'sharpGroteskBook25';
                color: $darkBlue;
                text-align: right;
                width: 28%;
                
                .reward-price span {
                    color: $darkBlue;
                    text-align: right;
                }
            }
        }
        
        .item-icon {
            height: 1em;
            width: 1em;
        }
    }
}

.item-scrolled-to {
    background: pink;
}

.progress-container {
  height: 60%;
  width: 5px;
  background: linear-gradient(to top, #AEC556 60%, transparent 0);
  text-align: center;
  position: relative;
}

.current-amount-container{
  width: 150px;
  display: flex;
  height: 60%;
  position: relative;
  flex-direction: column;
  padding-left: 20px;  

  .top-container {
    display: flex;
    flex-direction: column;
    height: 50%;

    .spinning-salad {
      font-family: 'sharpGroteskBook25';
      font-size: $small;
      letter-spacing: 1.3px;
      color: #71bf51;
    }

    .selected-reward{
      font-family: 'SharpGroteskLight09';
      font-size: $largefont;
      font-weight: $normal;
      color: #ef3930;
    }

    .spin-rate{
      font-family: 'sharpGroteskBook25';
      font-size: $small;
      letter-spacing: 1.3px;
      color: #71bf51;
    }
  }

  .bottom-container {
    font-family: 'SharpGroteskLight09';
    height: 50%;
    display: flex;
    align-items: flex-end;
    color: #ef3930;
    font-size: 80px;
    transform: skewY(-20deg);
  }
}