<div class="reward-search">
  <input type="text" #rewardSearch (keyup)="onRewardsSearch($event)" placeholder="SEARCH REWARDS">
</div>
<div class="carousel" #scrollingElement cdk-scrollable>
<!-- <cdk-virtual-scroll-viewport class="list-container lg" [itemSize]="52.5"> -->
  <ng-container *ngIf="carouselItems && carouselItems.length > 0">
    <div *ngFor="let rewardItem of carouselItems">
      <div (click)="updateSelectedReward(rewardItem)" class="carousel-item">
        <div class="carousel-item-left">

        </div>
        <div class="carousel-item-right">
          <span class="time-remaining">{{rewardItem.remainingTime}} Hours Remaining</span>
          <div class="reward-name-price">
            <span class="reward-name">{{rewardItem.name}}</span>
            <span class="reward-price">{{rewardItem.price | currency:'USD'}}</span>
          </div>
          <span class="time-remaining">percentageHeight: {{rewardItem.percentageHeight}}</span>
          <span *ngIf="rewardItem.selected" [ngClass]="{'selected-reward': rewardItem.selected}">SELECTED</span>
        </div>
      </div>
    </div>
  </ng-container>
<!-- </cdk-virtual-scroll-viewport> -->
</div>