<div class="reward-search">
  <input type="text" #rewardSearch (keyup)="onRewardsSearch($event)" placeholder="SEARCH REWARDS">
</div>
<div class="carousel">
  <ng-container *ngIf="carouselItems && carouselItems.length > 0">
    <div *ngFor="let rewardItem of carouselItems">
      <div (click)="updateSelectedReward(rewardItem)" class="carousel-item">
        <div class="carousel-item-left">

        </div>
        <div class="carousel-item-right">
          <span>Name: {{rewardItem.name}}</span>
          <span>Id: {{rewardItem.rewardId}}</span>
          <span>Value: {{rewardItem.price | currency:'USD'}}</span>
          <span>Description: {{rewardItem.details}}</span>
          <span [ngClass]="{'selected-reward': rewardItem.selected}">Selected: {{rewardItem.selected}}</span>
          <span>percentageHeight: {{rewardItem.percentageHeight}}</span>
          <!-- <img class="item-icon" src="rewardItem.imageLink"> -->
        </div>
      </div>
    </div>
  </ng-container>
</div>