<!-- <div class="reward-search">
  <input type="text" #rewardSearch (keyup)="onRewardsSearch($event)" placeholder="SEARCH REWARDS">
</div> -->
<div #Scrollbar class="progress-container">
  <app-carousel-scroll-bar [percentagePlacement]="scrolledToReward.percentageHeight">
  </app-carousel-scroll-bar>
</div>
<div class="current-amount-container">
  <div class="top-container">
    <span class='spinning-salad'>Chopping Salad for</span>
    <span class='selected-reward'>{{selectedReward.name}}</span>
    <span class='spin-rate'>at x/x</span>
  </div>
  <div class="bottom-container">
    {{percentToSelectedReward}}
  </div>
</div>
<div class="carousel" #ScrollingElement cdk-scrollable>
  <ng-container *ngIf="carouselItems && carouselItems.length > 0">
    <div [id]="rewardItem.rewardId" *ngFor="let rewardItem of carouselItems; let i=index">
      <div (click)="openDialog(rewardItem)" class="carousel-item">
        <div [ngClass]="getClass(currentScrolledIndex,i)">
          <div class="carousel-item-left">
          </div>
          <div class="carousel-item-right">
            <div class="reward-time-name">
              <span class="time-remaining">{{rewardItem.remainingTime}} Hours Remaining</span>
              <span class="reward-name">{{rewardItem.name}}</span>
            </div>
            <div class="reward-price">
              <span>{{rewardItem.price | currency:'USD'}}</span>
            </div>
            <span *ngIf="rewardItem.selected" [ngClass]="{'selected-reward': rewardItem.selected}">SELECTED</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>