@import '~styles.scss';

$rewardHeight: 75px;


.reward-search {
    padding-bottom: 1em;
}

.carousel{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
    overflow-y: scroll;
    align-items: flex-end;
    
    .carousel-item {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        margin-top: .25em;
        margin-bottom: .25em;        
        padding-bottom: .5em;

        .zero-magnitude {
            height: $rewardHeight;
            width: 100%;
            display: flex;
            flex-direction: row;

            .carousel-item-right{
                width: 200px;
            }
            
            .carousel-item-left {
                border-width: 0 0 $rewardHeight $rewardHeight;
                width: 35px;
            }
        }

        .one-magnitude {
            height: $rewardHeight * .95;
            width: 100%;
            display: flex;
            flex-direction: row;    

            .carousel-item-right {
                width: 180px;
            }

            .carousel-item-left {
                border-width: 0 0 $rewardHeight*0.95 $rewardHeight*0.95;
                width: 31px;
            }
        }

        .two-magnitudes {
            height: $rewardHeight * .90;
            width: 100%;
            display: flex;
            flex-direction: row;

            .carousel-item-right {
                width: 160px;
            }

            .carousel-item-left {
                border-width: 0 0 $rewardHeight*0.90 $rewardHeight * 0.90;
                width: 27px;
            }
        }

        .three-magnitudes {
            height: $rewardHeight * .85;
            width: 100%;
            display: flex;
            flex-direction: row;

            .carousel-item-right {
                width: 140px;
            }

            .carousel-item-left {
                border-width: 0 0 $rewardHeight * 0.85 $rewardHeight * 0.85;
                width: 23px;
            }
        }

        .carousel-item-left {
            height: 0;
            border-style: solid;
            border-color: transparent transparent $greenBackgroundColor transparent;
            margin-right: .25em;

        }

        .carousel-item-right {
            border: 4px solid $greenBackgroundColor;
            display: flex;
            flex-direction: column;
            background-color: $greenBackgroundColor;

            .time-remaining {
                font-size: $small;
                font-weight: $normal;
                color: $lightGreen;
            }

            .reward-name-price {
                display: flex;
                flex-direction: row;
                
                .reward-name {
                    font-size: $large;
                    font-weight: $semiBold;
                    color: $lightGreen;
                }   

                .reward-price {
                    font-size: $small;
                    font-weight: $normal;
                    color: $darkBlue;
                    text-align: right;
                }
            }
        }

        .selected-reward {
           color: $red;      
           font-size: $medium;
           font-weight: $veryBold;      
        }
        

        .item-icon {
            height: 1em;
            width: 1em;
        }
    }
}

.item-scrolled-to {
    background: pink;
}

.progress-container {
  height: 60%;
  width: 5px;
  background: linear-gradient(to top, #AEC556 60%, transparent 0);
  text-align: center;
  position: relative;
}

.current-amount-container{
  width: 150px;
  display: flex;
  height: 60%;
  position: relative;
  flex-direction: column;

  .top-container {
    height: 50%;
  }

  .bottom-container {
    height: 50%;
    display: flex;
    align-items: flex-end;
    color: red;
    font-size: 2em;
  }
}