<div class="carousel">
  <ng-container *ngIf="carouselItems && carouselItems.length > 0">
    <div *ngFor="let rewardItem of carouselItems">
      <div (click)="updateSelectedReward(rewardItem)"  class="carousel-item" >
        <span>Name: {{rewardItem.RewardName}}</span>
        <span>Id: {{rewardItem.RewardId}}</span>
        <span>Value: {{rewardItem.RewardValue | currency:'USD'}}</span>
        <span>Description: {{rewardItem.RewardDescription}}</span>
        <span [ngClass]="{'selected-reward': rewardItem.Selected}">Selected: {{rewardItem.Selected}}</span>
        <img class="item-icon" src="./../../../../assets/images/favicon.ico">
      </div>
    </div>
  </ng-container>
</div>