<div class="reward-search">
  <input type="text" #rewardSearch (keyup)="onRewardsSearch($event)" placeholder="SEARCH REWARDS">
</div>
<div class="carousel">
  <ng-container *ngIf="carouselItems && carouselItems.length > 0">
    <div *ngFor="let rewardItem of carouselItems">
      <div (click)="updateSelectedReward(rewardItem)" class="carousel-item">
        <div class="carousel-item-left">

        </div>
        <div class="carousel-item-right">
          <span class="time-remaining">{{rewardItem.RemainingTime}} Hours Remaining</span>
          <div>
            <span class="reward-name">{{rewardItem.RewardName}}</span>
            <span class="reward-price">{{rewardItem.RewardValue | currency:'USD'}}</span>
          </div>
          <span *ngIf="rewardItem.Selected" [ngClass]="{'selected-reward': rewardItem.Selected}">SELECTED</span>
        </div>
      </div>
    </div>
  </ng-container>
</div>