<div class="income-container">
  <div class="income-container-left"></div>
  <div class="income-container-right">
    <span class="current-balance-title">CURRENT BALANCE</span>
    <span class="current-balance-value">52 TWITCH BITS</span>
    <span class="current-balance-currency">{{120 | currency:'USD'}} USD</span>
  </div>
</div>
<div class="referral-container">
  <div class="referral-container-left"></div>
  <div class="referral-container-right">
    <span class="referral-text">1 REFERRAL AVAILABLE</span>
  </div>
</div>