<div class="statistics-container">
  <span class="statistics-header">LIFETIME BALANCE</span>
  <span class="statistics-value">{{statistics.lifetimeBalance | currency:'USD'}}</span>
  <span class="statistics-header">REFERRALS</span>
  <span class="statistics-value">{{statistics.referrals}}</span>
  <span class="statistics-header">LEADERBOARD</span>
  <span class="statistics-value">{{statistics.leaderboard}}</span>
  <span class="statistics-header">GPU TEMPERATURE</span>
  <span class="statistics-value">{{statistics.gpuTemperature}}</span>
</div>