@import '~styles.scss';

.statistics-container {
    display: flex;
    flex-direction: column;
    font-size: $small;
    text-align: right;
    padding-right: 15%;
    
    .statistics-header {
        font-family:'sharpGroteskBook25';
        font-size: $small;
        color: $lightGreen;
        letter-spacing: 1.3px;
    }

    .statistics-value {
      font-family: 'sharpGroteskBook25';
        color: white;
        padding-bottom: .5em;
    }
}